<!DOCTYPE html>
<html>

<head>
    <title>Convert JSON Data to HTML Table</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="assets/css/iframe-1.css">
    <style>
        .styled-table {
            border-collapse: collapse;
            margin-left: auto;
            margin-right: auto;
            font-size: 0.9em;
            font-family: sans-serif;
            min-width: 400px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }

        .styled-table th,
        .styled-table td {
            padding: 12px 15px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
 
        <div class="col">
            <div style="padding-left: 21px;padding-top: 29px;"><a href="form"><button class="btn btn-primary" type="submit" style="color: var(--bs-white);background: var(--bs-indigo);width: 200px;height: 50px;">Form</button></a></div>
          </div>
          <div class="col">
            <div style="padding-left: 21px;padding-top: 29px;"><a href="video"><button class="btn btn-primary" type="submit" style="color: var(--bs-white);background: var(--bs-indigo);width: 200px;height: 50px;">Video</button></a></div>
          </div>
          <div class="col">
            <div style="padding-left: 21px;padding-top: 29px;"><a href="database"><button class="btn btn-primary" type="submit" style="color: var(--bs-white);background: var(--bs-indigo);width: 200px;height: 50px;">Database</button></a></div>
          </div>
          <div class="col">
            <div style="padding-left: 21px;padding-top: 29px;"><a href="powerbi"><button class="btn btn-primary" type="submit" style="color: var(--bs-white);background: var(--bs-indigo);width: 200px;height: 50px;">PowerBI</button></a></div>
          </div>
     
          <div class="col">
            </div>
          <div class="col"> 
          <div style="padding-left: 21px;padding-top: 29px;"><button class="btn btn-primary" onclick="tableFromJson()"
              style="color: var(--bs-white);background: var(--bs-indigo);width: 200px;height: 50px;">Refresh</button></div>
          </div>
     
     
    </nav>
     
      <section style="align: center;padding-top: 100px;padding-bottom: 100px;">
        <div class="container text-center" style="text-align: center;">
      </section>
     <div id='showData'>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Age</th>
                    <th>AG_Sentiments</th>
                    <th>Complaint</th>
                    <th>Cu_Sentiments</th>
                    <th>Customer ID</th>
                    <th>Department</th>
                    <th>Gender</th>
                    <th>Key Phrase</th>
                    <th>Language</th>
                    <th>Location</th>
                    <th>Service Agent ID</th>
                    <th>VIP</th>
                </tr>
            </thead>
        </table>
    </div>

</body>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
<script src="assets/js/theme.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery.js"></script>
<script>

    // scroll down for ES6 features. 

    // using regular methods.

    function tableFromJson() {
        // the json data. (you can change the values for output.)
        var table = document.createElement("table");
        req = $.ajax({
            url: '/databaseupdate',
            type: "POST",
            // success: function (data) {
            //     console.log(data);
            //     var myBooks = data;
            // }
        });

        req.done(function (data) {
            console.log('data',data);
            var myBooks = data;
            var col = [];
            for (var i = 0; i < myBooks.length; i++) {
                for (var key in myBooks[i]) {
                    if (col.indexOf(key) === -1) {
                        col.push(key);
                    }
                }
            }
            console.log('col',col);

            // Create a table.
            
            table.className = "styled-table"

            // Create table header row using the extracted headers above.
            var tr = table.insertRow(-1);                   // table row.

            for (var i = 0; i < col.length; i++) {
                var th = document.createElement("th");      // table header.
                th.innerHTML = col[i];
                tr.appendChild(th);
            }

            // add json data to the table as rows.
            for (var i = 0; i < myBooks.length; i++) {

                tr = table.insertRow(-1);

                for (var j = 0; j < col.length; j++) {
                    var tabCell = tr.insertCell(-1);
                    tabCell.innerHTML = myBooks[i][col[j]];
                }
            }

            // Now, add the newly created table with json data, to a container.
            
        });
        var divShowData = document.getElementById('showData');
            divShowData.innerHTML = "";
            divShowData.appendChild(table);




        // Extract value from table header. 
        // ('Book ID', 'Book Name', 'Category' and 'Price')




    }
</script>

</html>
